<!-- This is a basic html page which Flask can serve. 
It does not use the power of Flask, but is easier to read than some of the other files. 
-->

<!DOCTYPE html>
<html>

<!-- learn more about what belongs in head and how it is used here 
https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML -->
<head>
    <title>A Static Page</title> 
    <br>
    <h1 class="banner">Hello, welcome to a page about</h1>
    <h1 class="banner">C<>DE UNIVERSITY</h1>
    <link rel="stylesheet" href="../static/styles.css"><br>
    
	<meta charset="utf-8"/>
</head> 
<body>

    <p>This is a page about CODE University, however, if you want to actually learn about it,
        I recommend that you just look up the actual website unless you love to real lorem ipsum. </p>
    <p>Here's the link if you actually want to learn something useful: </p><br>
    <a href="https://code.berlin/en/">click here to see CODE's website</a><br><br>
    <th><a href="/second-page"> Education </a></th>
    <th><a href="/first-page">About</a></th>
</body>
</html>