{% extends "base.html" %}

{% block content %}
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Etiam eu auctor turpis. Duis vel enim sit amet nulla pellentesque placerat sed quis ex. 
        Donec laoreet blandit lacus quis rutrum. Mauris pellentesque venenatis arcu. 
        Curabitur iaculis aliquam enim sed rutrum. Ut pulvinar, ex vitae suscipit venenatis, mauris ex congue enim,
         eu hendrerit ante magna in urna. Morbi vitae dolor nec nibh facilisis vehicula. 
         Integer lobortis porttitor fermentum. Nulla sapien felis, fringilla nec ex nec, dictum aliquet lacus.</p>
    <p>Quisque eu mi porttitor est congue interdum. Duis ultrices accumsan purus sed tristique. 
        Nunc scelerisque, metus ut eleifend blandit, elit est porta turpis, eu pharetra augue purus id odio. 
        Donec eget euismod mauris, non rutrum lectus. Etiam sed nisi ultrices, rutrum leo non, mattis nisi. 
        Integer diam lacus, commodo quis dignissim bibendum, auctor id leo. </p>
{% endblock %}